/* CSS declarations go here */
.header {
  height: 160px;
}

.upload-body {
  height: 260px;
  background-color: red
}

.upload-button{
  border-radius: 11px;
  background-color: white;
  height: 50px;
  width: 220px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  margin-top: 40px;
  border: none;
}

.upload-button2{
  border-radius: 11px;
  background-color: white;
  height: 50px;
  width: 220px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  margin-top: 15px;
  border: none;
}

.analyze-body {
  height: 200px;
}

.analyze-button{
  border-radius: 10px;
  background-color: white;
  border-color: red;
  height: 80px;
  width: 350px;
  font-family: 'Roboto Condensed', sans-serif;
  color: red;
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 35px;
  border-shadow: none;
  border-width: 5px;
}

.card {
  border-radius: 10px;
  background-color: white;
  border-color: red;
  font-family: 'Roboto Condensed', sans-serif;
  border-width: 3px;
  border-style: solid;
}

.card2 {
  border-radius: 10px;
  background-color: white;
  border-color: yellow;
  font-family: 'Roboto Condensed', sans-serif;
  border-width: 3px;
  border-style: solid;
}

.card3 {
  border-radius: 10px;
  background-color: white;
  border-color: green;
  font-family: 'Roboto Condensed', sans-serif;
  border-width: 3px;
  border-style: solid;
}



.flagicon {
  width: 50%;
  float: left;
  margin-left: 50px;
  text-align: left;
}

.accountnames {
  font-size: 1.5em;
  width: 42%;
  float: center;
  text-align: center;
  vertical-align: top;
  align-content: center;
}

.violations {
  font-size: 1.0em;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  vertical-align: top;
  }



  .loader {
    border: 16px solid white ; /* Light grey */
    border-top: 16px solid red; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.analyzetext{
  font-family: 'Roboto Condensed', sans-serif;
  color: red;
  font-size: 2.5em;
  font-weight: bold;

}

.footer {
  align-content: center;
  position: absolute;
  bottom: 40px ;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: Black;
  font-size: 1.5em;
  font-weight: bold;
}

