<div class="header" style="margin-top:50px" >
  <center>
    <img src="http://i.imgur.com/PeARkSK.png"
      width="250px" height="100px" >
      </img>
    </center>
</div>
<center>
  <input type="file">
</center>
<div class="analyze-body">
  <center>
    <button class="analyze-button" ng-click="$ctrl.scan()">Scan</button>
    <button class="analyze-button" ng-click="$ctrl.clear()">Clear</button>
  </center>
</div>
 <div class="card">
 	<table>
 	<tr ng-repeat="log in $ctrl.logs">
 	  <td class="flagicon">
 	    <img src="http://i.imgur.com/WDHhTq6.png"></img>
 	  </td>
 	  <td class="accountnames">
 	    {{ log.name }}
 	    <br>
 	  </td>
 	  <td class="violations" width="100%" >
      {{ log.type }}
 	  </td>
 	</tr>
  <!--
 	<tr>
 	  <td>
 	  </td>
 	  <td class="accountnames">
 	    12434534643
 	  </td>
 	<td class="violations" width="50">
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	</td>
 	</table>
</div>
<br> <br>
<div class="card2">
 	<table>
 	<tr>
 	<td class="flagicon">
 	<img src="http://i.imgur.com/0NLFrTC.png"></img>
 	</td>
 	<td class="accountnames">
 	1924834839
 	<br>
 	</td>
 	<td class="violations" width="100%" >
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	</td>
 	</tr>
 	<tr>
 	<td>
 	</td>
 	<td class="accountnames">
 	12434534643
 	</td>
 	<td class="violations" width="50">
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	</td>
 	</table>
</div>


<br> <br>


<div class="card3">
 	<table>
 	<tr>
 	<td class="flagicon">
 	<img src="http://i.imgur.com/SP13GP9.png"></img>
 	</td>
 	<td class="accountnames">
 	1924834839
 	<br>
 	</td>
 	<td class="violations" width="100%" >
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	</td>
 	</tr>
 	<tr>
 	<td>
 	</td>
 	<td class="accountnames">
 	12434534643
 	</td>
 	<td class="violations" width="50">
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	<br>
 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
 	</td>
 	</table>
</div>
-->
